h1 {
	color: #8B1C62;
	font-family: Cursive;
}

h2 {
	color: #FF7256;
	font-family: serif;
}
}

h3 {
	color: #FFC125;
	font-family: Vivaldi, sans-serif;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}